<ion-card class="bg-white">
  <ion-item class="bg-white border-footer-bottom">
    <ion-avatar item-start>
      <img src="../../assets/imgs/user-profile.png">
    </ion-avatar>
    <h2 class="strong-color">{{ client.company }}</h2>
    <p class="light-color">{{ client.fullname }}</p>
  </ion-item>
  <ion-card-content>
    <ion-row class="light-color font-size-card">
      <ion-col>
        <ion-label><strong>Gender:</strong> {{ client.gender }}</ion-label>
        <ion-label><strong>Product:</strong> {{ client.product }}</ion-label>
      </ion-col>
      <ion-col>
        <ion-label><strong>Email:</strong> {{ client.email }}</ion-label>
        <ion-label><strong>Phone:</strong> {{ client.phone }}</ion-label>
      </ion-col>
    </ion-row>
  </ion-card-content>
  <ion-row class="bg-footer-card">
    <ion-col>
      <button ion-button icon-left clear small color="signin">
        <ion-icon name="time"></ion-icon>
        <div>4D Ago</div>
      </button>
    </ion-col>
    <ion-col>
      <button ion-button icon-left clear small color="warning">
        <ion-icon name="brush"></ion-icon>
        <div>Edit</div>
      </button>
    </ion-col>
    <ion-col>
      <button (click)="onRemoveClient()" ion-button icon-left clear small color="danger">
        <ion-icon name="trash"></ion-icon>
        <div>Delete</div>
      </button>
    </ion-col>
  </ion-row>
</ion-card>
