<ion-card
  style="margin-bottom:0px;"
  [style.margin-top] = "index == 0 ? '0px' : '5px'">

    <ion-list no-lines>
      <ion-item-sliding>
        <button ion-item (click)="onLookClient(firebaseClient)" (press)="onUpdateClient(firebaseClient)">
          <ion-avatar item-start>
            <img src="../../assets/imgs/user-profile.png">
          </ion-avatar>
            <h2>{{ firebaseClient.client.company }}</h2>
            <p>{{ firebaseClient.client.fullname }}</p>
        </button>
        <ion-item-options side="left">
          <button (click)="onRemoveClient()" ion-button color="danger">
            <ion-icon name="trash"></ion-icon>
            Delete
          </button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
</ion-card>
