page-home {
  h4 {
    margin-top:100px;
  }
  .bg-color {
    // background: #262827;
    background: #383A4C;
  }
  .transparent {
    background: transparent;
  }

  .item-font-color {
    color: #606170;
  }

  .title-font-color {
    color: white;
  }

}
