page-clients {
  ion-content {
    .scroll-content {
      margin-bottom:100px !important;
    }
    .fixed-content {
      margin-bottom: 100px !important;
    }
  }

  .toolbar .searchbar-ios .searchbar-input {
    background: #e0e0e0;
  }


}
