<ion-item text-center class="bg-btn-gradient">
  <img width="80px" height="80px" src="../../assets/imgs/profile.png"/>
  <ion-fab middle>
    <button ion-button small round outline style="color: rgba(255,255,255,.5); border: 1px solid rgba(255,255,255,.5); transform: translate(10px, 10px)">Add</button>
  </ion-fab>
</ion-item>
<p style="text-align:center; margin:0px; padding:0px; color:white; font-size:12px">400</p>
<p class="font-clear-label" style="text-align:center; margin:0px; padding:0px; color:rgba(255,255,255,.7)">Contacts</p>
<p class="font-clear-label"
  style="color: white; background:rgba(0,51,0,.2); text-align:center; padding: 5px 0px 5px 0px">
  CLIENTS
</p>
